flows.json
[{"id":"a2b5b701.4e5d08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c3701c3e.42ced","type":"ui_form","z":"a2b5b701.4e5d08","name":"","label":"","group":"a8f8db1.012b228","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality\t","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles ","value":"f","type":"text","required":true,"rows":null},{"label":" BMI ","value":"g","type":"text","required":true,"rows":null},{"label":"under-five deaths ","value":"h","type":"text","required":true,"rows":null},{"label":"Polio","value":"i","type":"text","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"text","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"text","required":true,"rows":null},{"label":" HIV/AIDS","value":"l","type":"text","required":true,"rows":null},{"label":"GDP","value":"m","type":"text","required":true,"rows":null},{"label":"Population","value":"n","type":"text","required":true,"rows":null},{"label":" thinness  1-19 years","value":"o","type":"text","required":true,"rows":null},{"label":" thinness 5-9 years","value":"p","type":"text","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"text","required":true,"rows":null},{"label":"Schooling","value":"r","type":"text","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["ffd3e9d4.be6bd8"]]},{"id":"ffd3e9d4.be6bd8","type":"function","z":"a2b5b701.4e5d08","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\n\n\n\n\n//following are required to receive a token\nvar apikey=\"CTbvyjbH7o_jSP01KeJjMva6KXmx3vTL8XahEzPWmClp\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["2590ff82.b6338"]]},{"id":"bb85b70e.913358","type":"http request","z":"a2b5b701.4e5d08","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/4667f902-9828-408e-8755-6edc41a82fdb/deployments/ecb81f2b-7eb2-4d4e-b456-c5d8aea62093/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["44df65e7.53d19c","bcb45818.705f58"]]},{"id":"b273e9f.d75d418","type":"debug","z":"a2b5b701.4e5d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"bcb45818.705f58","type":"function","z":"a2b5b701.4e5d08","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["b273e9f.d75d418","36080965.3f7476"]]},{"id":"44df65e7.53d19c","type":"debug","z":"a2b5b701.4e5d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"a1a20ab3.f0f4c8","type":"function","z":"a2b5b701.4e5d08","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"4667f902-9828-408e-8755-6edc41a82fdb\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Adult Mortality\",\"infant deaths\",\n\"Alcohol\",\"percentage expenditure\",\n\"Hepatitis B\",\"Measles \",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\n\"Diphtheria\",\" HIV/AIDS\",\"GDP\",\"Population\",\" thinness  1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["bb85b70e.913358"]]},{"id":"2590ff82.b6338","type":"http request","z":"a2b5b701.4e5d08","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["a1a20ab3.f0f4c8"]]},{"id":"36080965.3f7476","type":"ui_text","z":"a2b5b701.4e5d08","group":"a8f8db1.012b228","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"a8f8db1.012b228","type":"ui_group","z":"","name":"Machine Learning Model","tab":"d6fce0fd.b61fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"d6fce0fd.b61fc","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]